
<ul>
  {{#each todos}}
    <li>
      <input type="checkbox" name="isDone" {{#if this.isDone}} checked {{/if}}  disabled>
      {{this.name}}
      <a href="./todos/{{ this._id }}">detail</a>
      <a href="./todos/{{ this._id }}/edit">edit</a>
      {{!-- html 裡只有GET和POST兩種方法，要用其他方法就要加載套件 --}}
      <form action="/todos/{{ this._id }}?_method=DELETE" method="POST" style="display: inline"> 
        <button type="submit">delete</button>
      </form>
    </li>
  {{/each}}
</ul>